<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="toolbar-layout">
    <template>
        <style>
            :host {
                display: grid;
                width: 100%;
            }

            .left {
                text-align: left;
                grid-column-start: 1;
                grid-column-end: 1;
            }
            .right {
                text-align: right;
                grid-column-start: 2;
                grid-column-end: 2;
            }

            ::slotted([slot=left]) {
                margin-right: 0.5em;
            }

            ::slotted([slot=right]) {
                margin-left: 0.5em;
            }

            @media screen and (max-width: 999px) {
                .left, .right {
                    text-align: left;
                    grid-column-start: 1;
                    grid-column-end: 2;
                }

                ::slotted([slot=left]) {
                    margin-right: 0.5em;
                }

                ::slotted([slot=right]) {
                    margin-left: 0;
                    margin-right: 0.5em;
                    margin-top: 0.5em;
                }

                ::slotted(vaadin-text-field) {
                    width: 100%;
                }
                ::slotted(vaadin-combo-box) {
                    width: 100%;
                }
            }

            ::slotted([slot=left]:last-child) {
                margin-right: 0;
            }

            ::slotted([slot=right]:first-child) {
                margin-left: 0;
            }
        </style>

        <div class="left"><slot name="left"></slot></div>
        <div class="right"><slot name="right"></slot></div>
    </template>

    <script>
        class ToolbarLayout extends Polymer.Element {
            static get is() {
                return 'toolbar-layout'
            }
        }
        customElements.define(ToolbarLayout.is, ToolbarLayout);
    </script>
</dom-module>